/* Social Media Links */
.social-media-title {
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 25px;
}

.social-media {
  width: 100%;
  text-align: right;
  z-index: 100;
  padding-top: 150px;
  margin-bottom: 50px;
}

.social-icon {
  width: 50%;
  height: auto;
  text-align: right;
  margin: 0 auto;
}

/* Contact Form */
.contact-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 150px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid rgba(255, 0, 0, 0.75);
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(45deg, rgba(116, 115, 191, 1), rgba(81, 74, 157, 1));
  cursor: pointer;
}