/*Contact form formatting*/
.contact-container {
    margin-top: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-title h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    align-items: center;
}

.contact textarea {
    height: 150px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid rgba(255, 0, 0, 0.75);
}

.contact-inputs::placeholder {
    color: #636363;
}

.contact button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(45deg, rgba(116, 115, 191, 1), rgba(81, 74, 157, 1));
    cursor: pointer;
}

.sm {
    /*sets the width of the content*/
    width: 100%;

    /*Aligns the text to the right*/
    text-align: right;

    /*Pushes the content to the bottom*/
    bottom: 0;


    z-index: 100;

    /*creates a gap from the edge on the right side of the page*/
    padding-right: 25px;
}

.sm-title {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: right;
    right: auto;
    padding-right: 25px;
}

.sm a {
    text-decoration: none;
}