/*EDITS SOCIAL MEDIA LINKS*/
/*Makes the "Social Media" Title be in the middle of the links*/
.SM-links-title {
  position: absolute;
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  right: auto;
  padding-right: 25px;
}

/*Makes the links be on the right of the screen*/
.SM-links {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  padding: auto;
}

/*EDITS SOCIAL MEDIA LINKS*/
/*Makes the "Social Media" Title be in the middle of the links*/
.SM-links-title {
  position: absolute;
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  right: auto;
  padding-right: 25px;
}

/*Makes the links be on the right of the screen*/
.SM-links {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  padding: auto;
}
