#DP-title {
    font-size: 35px;
    text-align: center;
  }
  
  #about-me-1 {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  #about-me-2 {
    font-size: 20px;
    text-align: center;
  }