/*ABOUT ME SECTION*/
#about-me-title {
  font-size: 35px;
  text-align: center;
}

#about-me-1 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

#about-me-2 {
  font-size: 20px;
  text-align: center;
}

/*EDITS SOCIAL MEDIA LINKS*/
/*Makes the "Social Media" Title be in the middle of the links*/
.SM-links-title {
  position: absolute;
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  right: auto;
  padding-right: 25px;
}

/*Makes the links be on the right of the screen*/
.SM-links {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  padding: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}