/*ABOUT ME SECTION*/
.about-me {
    margin-top: 10px;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}

.am-title {
    /*creates a gap at the bottom of the title*/
    margin-bottom: 10px;
}

.am-text {
    line-height: 2rem;
}

/*EDITS THE MY HISTORY SECTION*/
.my-history {
    margin-top: 25px;

    display: none;
}

.history-button {
    margin-top: 10px;
    padding: 10px;

    border: none;
    border-radius: 50px;

    height: auto;
    width: auto;

    cursor: pointer;
}


.sm {
    /*sets the width of the content*/
    width: 100%;

    /*Aligns the text to the right*/
    text-align: right;

    /*Pushes the content to the bottom*/
    bottom: 0;


    z-index: 100;

    /*creates a gap from the edge on the right side of the page*/
    padding-right: 25px;
}

.sm-title {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: right;
    right: auto;
    padding-right: 25px;
}

.sm a {
    text-decoration: none;
}

.c-container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.cookies {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cookies a {
    color: lightskyblue;
    font-weight: 500;
    text-decoration: none;
}

#c-button {
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid green;
    background-color: lightgreen;
    color: darkgreen;
}



@media screen and (max-width: 1024px) {
    body {
        overflow-y: hidden;
    }

    .about-me {
        margin-top: 10px;
        text-align: center;
        padding-right: 5px;
        padding-left: 5px;
        font-size: smaller;
    }

    .am-title {
        /*creates a gap at the bottom of the title*/
        margin-bottom: 5px;
    }

    .am-text {
        line-height: 1.15rem;
    }

    .my-history {
        margin-top: 10px;

        display: none;
    }

    .history-button {
        margin-top: 5px;
        padding: 10px;

        border: none;
        border-radius: 50px;

        height: auto;
        width: auto;
    }

    .sm {
        /*sets the width of the content*/
        width: 100%;

        /*Aligns the text to the right*/
        text-align: right;

        /*Pushes the content to the bottom*/
        bottom: 0;


        z-index: 100;

        /*creates a gap from the edge on the right side of the page*/
        padding-right: 5px;

        font-size: small;
    }

    .sm-title {
        position: absolute;
        display: flex;
        position: relative;
        justify-content: right;
        align-items: right;
        right: auto;
        margin-top: 25px;
        padding-right: 45px;
    }

    .sm a {
        text-decoration: none;
    }

    .cookies {
        padding: 10px 0;
    }
}