/*ABOUT ME SECTION*/
.about-me {
    margin-top: 10px;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}

.am-title {
    /*creates a gap at the bottom of the title*/
    margin-bottom: 10px;
}

.am-text {
    line-height: 2rem;
}

/*EDITS THE MY HISTORY SECTION*/
.my-history {
    margin-top: 25px;
}

.history-button {
    margin-top: 10px;
    padding: 10px;

    border: none;
    border-radius: 50px;

    height: auto;
    width: auto;

    cursor: pointer;
}


.sm {
    /*sets the width of the content*/
    width: 100%;

    /*Aligns the text to the right*/
    text-align: right;

    /*Pushes the content to the bottom*/
    bottom: 0;


    z-index: 100;

    /*creates a gap from the edge on the right side of the page*/
    padding-right: 25px;
}

.sm-title {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: right;
    right: auto;
    padding-right: 25px;
}

.sm a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    body{
        overflow-y: hidden;
    }
    .about-me {
        margin-top: 10px;
        text-align: center;
        padding-right: 5px;
        padding-left: 5px;
        font-size: smaller;
    }

    .am-title {
        /*creates a gap at the bottom of the title*/
        margin-bottom: 5px;
    }
    
    .am-text {
        line-height: 1.15rem;
    }

    .my-history {
        margin-top: 10px;
    }
    
    .history-button {
        margin-top: 5px;
        padding: 10px;
    
        border: none;
        border-radius: 50px;
    
        height: auto;
        width: auto;
    }

    .sm {
        /*sets the width of the content*/
        width: 100%;
    
        /*Aligns the text to the right*/
        text-align: right;
    
        /*Pushes the content to the bottom*/
        bottom: 0;
    
    
        z-index: 100;
    
        /*creates a gap from the edge on the right side of the page*/
        padding-right: 5px;

        font-size: small;
    }
    
    .sm-title {
        position: absolute;
        display: flex;
        position: relative;
        justify-content: right;
        align-items: right;
        right: auto;
        margin-top: 25px;
        padding-right: 45px;
    }
    
    .sm a {
        text-decoration: none;
    }
}