.container {
  display: grid;
  grid-template-columns: 1850px 1850px 1850px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.container img {
  border-radius: 10px;
}

.container video {
  border-radius: 10px;
}