.tos {
    display: absolute;
    margin: 0 50px;
    font-size: larger;
    line-height: 1.25;
}

.tos button {
    padding: 8px 12px;
    border-radius: 50px;
    background-color: blueviolet;
    margin-bottom: 10px;
}
.tos button a {
    text-decoration: none;
    color: antiquewhite;
}

.tos-sec-head {
    margin-top: 25px;
}

ol li {
    margin-left: 40px;
}
ul li {
    margin-left: 80px;
}
ol a, ul a {
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    body {
        font-size: x-small;
    }
    
    .tos {
        display: absolute;
        margin: 0 50px;
    }
    
    .tos button {
        padding: 4px 6px;
        border-radius: 50px;
        background-color: blueviolet;
        font-size: x-small;
    }
    .tos button a {
        text-decoration: none;
        color: antiquewhite;
    }
    
    .tos-sec-head {
        margin-top: 25px;
    }
    
    ol li {
        margin-left: 20px;
    }
    ul li {
        margin-left: 40px;
    }
    ol a, ul a {
        text-decoration: none;
    }
}