.contract{
  margin-top: 200px auto;
}

.contract p{
  line-height: 0.75;
}

.DP-title {
  font-size: 35px;
  text-align: center;
}

.DP-section {
  padding: auto;
  font-size: 20px;
  text-align: center;
}

.DP-text {
  padding: auto;
  font-size: 20px;
  text-align: left;
}

.DP-key {
  line-height: 1;
}